@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/RobotoMono-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/RobotoMono-Regular.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;/**если файлы шрифта почему то не загрузятся*/
}

/* Ctrl+K Ctrl+F */
/* ctrl + /  */

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   margin: 0;
   padding: 0;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

 :root {
  /**Глобальные переменные*/
  --font-family-base: 'Poppins', sans-serif;
  --container-width: 1400px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
  --font-weight-title: 700;
  --font-weight-subtitle: 400;
 }
 
 body {
  font-family: var(--font-family-base);
  font-weight: 400;
  background-color: #d8fcbc;
 }

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
}

 .title {
  font-weight: var(--font-weight-title);
 }

 .subtitle {
  font-weight: var(--font-weight-subtitle);
 }

 h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-title);
  text-transform: uppercase;
  color:#006400;
 }

 p {
  color: #000000;
 }

 .header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: #c3eca1;
  background: url(/assets/img/tsvet-fona-html.webp) center/100% no-repeat;
  background-size: cover;
  border-radius: 200px;
  border: solid white 10px
 }

 .header-menu-list {
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  column-gap: 30px;
 }

 .header-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-title);
  font-size: clamp(30px, 2.6vw, 50px);
  color: rgb(2, 58, 32);
 }


 .photo {
  height: auto;
  min-width: 150px;
  border-radius: 200px;
 }

 .header-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
  justify-content: space-between;
 }

 .header-title {
  font-size: clamp(50px, 4.16vw, 80px);
  background-color: #fff;
  border-radius: 50px;
  border: solid 5px rgb(57, 158, 91);
 }

 .header-subtitle {
  font-size: clamp(40px, 3.12vw, 60px);
  color: #dbffee;
  -webkit-text-stroke: 2px rgb(57, 158, 91);
 }

 .header-content {
  
 }

 .button-call:hover {
  color: rgb(2, 58, 32);
  background-color: white;
  border-color: rgb(2, 58, 32);
  border: solid 4px;
 }

 .button-call {
  display: flex;
  align-items: center ;
  justify-content: center;
  height: 4rem;
  max-width: 990px;
  border: solid rgb(2, 58, 32) 4px;
  border-radius: 20px;
  font-weight: 700;
  font-size: clamp(30px, 2.6vw, 50px); /* делим макс размер 50пх на размер экрана 1920(50/1920) * 100 умножаем на 100 = 2.6 */
  color: rgb(57, 158, 91);
  background-color: rgb(2, 58, 32);
  transition-duration: var(--transition-duration);
 }

 @media (min-width: 120rem) {
  .header-container {
    justify-content: space-between;
    border-radius: 00px;
    border: solid 15px white;
  }

  .photo {
    border-radius: 0px;
    border: solid 1px #fff
  }
}

 @media (max-width: 80rem) { /*1280px / 16px(дефолт размер шрифта) = 80rem*/
  .header-container { 
   display: inline;
   border: 0;
  }

  .header-menu-list {
    width: 100%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
  }


  .header-photo {
    display: flex;
    justify-content: center;
    background: url(/assets/img/tsvet-fona-html.webp) center/100% no-repeat;
    background-size: cover;
  }

  .photo {
    border-radius: 0px;
   }

   .header-subtitle {
    color: #dbffee;
   }

   .button-call:hover {
    background-color: transparent;
   }

   .header-title {
    border-radius: 0;
   }

   .button-call {
   max-width: 1280px;
   }
  }